$warning: pink
//$primary: #0277bd
$scheme-main: hsl(0, 0%, 21%)
$scheme-main-bis: hsl(0, 0%, 29%)
$scheme-main-ter: hsl(0, 0%, 48%)
$scheme-invert: hsl(0, 0%, 100%)
$scheme-invert-bis: hsl(0, 0%, 98%)
$scheme-invert-ter: hsl(0, 0%, 96%)
$text: hsl(0, 0%, 96%)
$text-light: hsl(0, 0%, 93%)
$text-strong: hsl(0, 0%, 98%)
$background: $scheme-main-ter
$body-background-color: teal
//$link: $primary
$footer-padding: 1rem 1.5rem 1rem

@import "./bulma/bulma"

body
	//  Poner el footer fijo abajo
	// min-height: 100vh
	// display: flex
	// flex-direction: column
	// footer
	// 	margin-top: auto
	//  Ocultar scroll
	-ms-overflow-style: none // IE and Edge
	scrollbar-width: none // Firefox
	&::-webkit-scrollbar
		display: none // Chrome, Safari y Opera

.center
	text-align: center

.clickable:hover
	cursor: pointer

//  Centrar una caja con el ancho del contenido y el contenido organizado en vertical
.centralBox
	display: flex
	flex-direction: column
	align-items: center
	padding: 1em
	border-radius: 0.25rem

//  Fijar el footer abajo
body
	min-height: 100vh
	display: flex
	flex-direction: column
	main
		flex: 1 0 auto
	footer
		flex-shrink: 0

// Colores validacion
input:valid
	@extend .is-success

input:not(:placeholder-shown):invalid
	@extend .is-danger