$warning: pink
$primary: #ffa500

@import "./bulma/bulma"

html 
	background-color: unset

body 
	background-color: slategrey

/* esta clase se puede añadir al navbar'menu para que sea gris tambien en movil.*/
.bg-is-inherited 
	background-color: inherit !important

.center 
	text-align: center
	
/* alinear un div al centro */
.centralBox 
	display: inline-block
	position: absolute
	left: 50%
	transform: translateX(-50%)
	padding: 1em
	border-radius: 0.25rem
	
.clickable:hover
	cursor: pointer
