$warning: pink
$primary: #ffa500
$scheme-main: hsl(0, 0%, 21%)
$scheme-main-bis: hsl(0, 0%, 29%)
$scheme-main-ter: hsl(0, 0%, 48%)
$scheme-invert: hsl(0, 0%, 100%)
$scheme-invert-bis: hsl(0, 0%, 98%)
$scheme-invert-ter: hsl(0, 0%, 96%)
$text: hsl(0, 0%, 96%)
$text-light: hsl(0, 0%, 93%)
$text-strong: hsl(0, 0%, 98%)
$background: $primary
$body-size: 90%
$body-background-color: $primary

@import "./bulma/bulma"

.center 
	text-align: center
	
/* alinear un div al centro */
.centralBox 
	display: inline-block
	position: absolute
	left: 50%
	transform: translateX(-50%)
	padding: 1em
	border-radius: 0.25rem
	
.clickable:hover
	cursor: pointer

footer
	padding: 10px